body{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}
#card-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.card{
    width: 300px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset;
    margin: 10px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
h3{
     text-align: -webkit-center;;
}
.para{
 
}   
.a{
    background-color: aqua;
    padding-right: -10px;
    margin-right: 5px;

}